/* 时钟模块样式 */

#clock {
    background-color: #1a1b26;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 6px;
    /* This module is always rounded */
    min-width: 0;
    border: none;

    color: #c6d0f5;
    font-weight: 500;
}

#clock:hover {
    background-color: rgba(153, 209, 219, 0.1);
}