/* 音频模块样式 */

#pulseaudio {
    color: #c6d0f5;
    margin-left: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#pulseaudio.muted {
    color: #585b70;
}

#pulseaudio.bluetooth {
    color: #89b4fa;
}