/* 工作区模块样式 */

#workspaces {
    background-color: #1a1b26;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    /* 5px top/bottom margin, 0px left/right (base for individual control) */
    border-radius: 6px;
    /* These modules are always rounded */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    /* Transition for background-color and color only */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    padding: 2px;
    margin-left: 7px;
    /* Margin from the far left edge */
    margin-right: 5px;
    /* Spacing after the workspaces module */
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px; /* Workspaces buttons are always rounded */
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #99d1db;
  background-color: rgba(153, 209, 219, 0.1);
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
  background: rgb(41, 42, 53); /* Reference bright hover color */
  color: #c6d0f5;
}
